$white: #F5F5F5;
$black: #222;
$blue: #3366CC;
$orange: #FFA500;
$pink: #FF69B4; 
$purple:  #8E44AD;
$brown: #A5694F;
$olive: #808000;
$mustard: #FFD700;
$grey: #888;
$green: #2ECC71;
$red: #E74C3C;

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: 1020px){
        font-size: 50%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $white;
    color: $black; 
}