.main {
    &__grid {
        width: 100%;
        display: grid;
        grid-template-columns: 0.6fr 1.4fr;
        grid-template-rows: repeat(2, auto);
        align-items: flex-start;
        column-gap: 2rem;

        @media only screen and (max-width: 830px){
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
        }

        @media only screen and (max-width: 670px){
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
        }
    }
}